html, body {
 	font-family: 'Open Sans', sans-serif;
 	color:#666;
 	background: url(img/bg_body.png) repeat-x;
 }

 h1, h2, h3, h4, h5, h6 { font-family: 'Arvo', serif; }

 a, a:visited {
 	color: #339BB9;
 }

 a:hover {
 	color: #339BB9;
 	text-decoration: underline;
 }

.notebox { width: auto; margin: 0; padding: 0; }

.page{
 	width:960px;
 	margin: 0 auto;
 }

.pageheader {
  margin: 20px 0 20px 0;
  padding: 10px 0 10px 0;
  position: relative;
  overflow: hidden;
  height: 100px;
  border-width: 0;
  background: url(https://webconverger.com/img/logo.svg) no-repeat;
}

.pageheader .header {
  float: left;
  margin: 60px 0 0 0;
}

.title {
  color: #b3b3b3;
  font-weight: bold;
  border-top: 0px;
  font: 100% 'Open Sans', sans-serif}

h1, h2, h3, h4, h5, h6 {
  color: #339BB9;
  text-shadow: 1px 1px 0 #fff;
}

.header {
  font-size: 200%;
  text-shadow: 1px 1px 0 #fff;
}

.inlinefooter{
	background: none;
	border-top: 1px solid #ccc;
	padding: 5px;
	font-size: 10px;
	margin-bottom: 20px;
}

.inlinecontent img{
	margin: 0 20px 10px 0;
}

img { max-width: 100%; }

h1 {
  font-size: 150%;
  margin-bottom: 10px;
}

h2 {
  font-size: 130%;
}

h3, h4, h5, h6 {
  font-size: 110%; }

ul{
	margin-left: 40px;
}

li{
	font-size: 14px;
	margin: 0 0 5px 0;
	line-height: 18px;

}

.feedbutton {
	background: #339BB9;
	color: #fff;
	margin: 0.2em;
	padding: 0.2em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 0;
}

.feedbutton:hover{
background: #57b0b8;
}

#searchform {
  position: absolute;
  top: 0.5em;
  right: 2em; }

input#searchbox {
  border: 1px solid #339BB9;
  padding: .5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.pageheader .actions {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right; }

.pageheader .actions ul {
  border-style: none; }

.actions ul {
  padding: 10px;
  border-style: none; }

.pageheader .actions ul li {
  padding: 0; margin: 0;
  border:none;
  background: none;
}

.pageheader .actions ul li a, input[type="submit"] {
  background: #339BB9;
  color: #fff;
  margin: 0.2em;
  padding: 0.1em 0.5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.pageheader .actions ul li a:hover, input[type="submit"]:hover {
    background: #fff;
    color: #339BB9; }

div.toggleable#attachments {
  margin: 1em; }

hr {
  border-style: none;
  background-color: gray;
  height: 1px; }

code, pre {
  background-color: #f2f2f2;
  color: #2e1a05; }

pre {
  padding: .5em;
  margin: 1em;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 2px #1a1a1a;
  -webkit-box-shadow: 0 0 2px #1a1a1a;
  box-shadow: 0 0 2px #1a1a1a; }

#content, #comments, #footer {
	margin: 0;
}

#content {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	padding: 20px 10px 10px 10px;
	margin-bottom: 20px;
	background: #efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#cccccc));
	background: -webkit-linear-gradient(top, #efefef, #cccccc);
	background:    -moz-linear-gradient(top, #efefef, #cccccc);
	background:     -ms-linear-gradient(top, #efefef, #cccccc);
	background:      -o-linear-gradient(top, #efefef, #cccccc);
	background:         linear-gradient(top, #efefef, #cccccc);
	-moz-box-shadow: 0 0 1px #000;
	-webkit-box-shadow: 0 0 1px #000;
	box-shadow: 0 0 1px #000;
}

#pageinfo {
  border-color: gray; }

#editcontent, #editmessage {
  width: 90%;
  background: #f2f2f2;
  font-size: 1.01em;
  line-height: 1.4em;
  padding: .5em;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

#editcontent:hover, #editmessage:hover {
    background: white; }

#editcontent {
  height: 25em; }

label[for="editmessage"] {
  margin-top: 1em; }

#editmessage {
  margin-bottom: 1em; }

.inlinepage {
  margin: .4em 0;
  padding: .4em 0;
  border-style: none;
  border-top: 0 solid gray; }

.inlineheader {
  font-size: 1.1em;
  border-top: 0 solid gray; }

/* Smaller headings for inline pages */
.inlinepage h1 {
  font-size: 1.1em; }

.inlinepage h2 {
  font-size: 1.01em; }

.inlinepage h3 {
  font-size: 1.01em; }

div.recentchanges {
  border-style: none; }

/* recent change page */
div.recentchanges {
  background-color: transparent; }
  div.recentchanges div.metadata {
    margin-top: 1.5em;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-style: solid solid none solid;
    background-color: #f2f2f2;
    padding: .7em; }
  div.recentchanges div.changelog {
    padding: .7em 2em; }

div.recentchanges div.metadata *, span.pagelinks a {
  float: none;
  display: block; }

span.pagelinks {
  width: inherit;}

span.pagelinks a, span.tags a {
  margin: 0.2em;
  padding: 0.2em;
  font-size: 1.01em;
  background: #e6e6e6;
  color: black;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

span.pagelinks a:hover, span.tags a:hover {
    background: #cccccc;
    color: black; }

div.recentchanges div.changelog {
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: none solid solid solid;
  background-color: #f2f2f2;}

span.desc br {
  display: none;}

div.titleandtags {
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #f2f2f2;
  margin-top: 1.5em;
  padding: .8em; }
  div.titleandtags h3, div.titleandtags span.tags {
    padding: 0; }
  div.titleandtags h3 {
    margin: 0 0 .5em 0; }
  div.titleandtags span.tags {
    line-height: 2em; }
  div.titleandtags div.lastmodified {
    float: right; }

thead th {
  color: white;
  background-color: gray;
  padding: .5em; }

td {
  padding: .2em .4em; }

tr:nth-child(odd) {
  background-color: #f2f2f2; }

tr:nth-child(even) {
  background-color: #d9d9d9; }


.actions { opacity: 0 }

.actions:hover { opacity: 1 }
