html, body {
	font-family: 'Open Sans', sans-serif;
	color:#666;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Arvo', serif; }

a, a:visited {
	color: #339BB9;
}

a:hover {
	color: #339BB9;
	font-style: underline;
}
